pipeline/pl_Descarga_01_Ficheros_Externos.json
{
	"name": "pl_Descarga_01_Ficheros_Externos",
	"properties": {
		"activities": [
			{
				"name": "LkpSourceFiles",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Tablas_Origen_Ficheros",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "Ficheros_Externos_01.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy to DL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkpSourceFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Ppto_Finanzas_RT to DataLake",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkpSourceFiles').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@not(equals(item().Filename,'Ppto_Finanzas_RT.xls'))\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy to DataLake",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "FileServerReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_Binary_Origen_Ficheros",
												"type": "DatasetReference",
												"parameters": {
													"FileName": {
														"value": "@item().Filename",
														"type": "Expression"
													},
													"FilePath": {
														"value": "@item().Folder",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Binary_Destino_Ficheros_DL",
												"type": "DatasetReference",
												"parameters": {
													"Filename": {
														"value": "@if(\n   equals(item().Filename,'UmbralesTiers.xlsx')\n     ,replace(replace(item().Filename,' ','_'),'.xlsx',concat('_',item().Worksheet,'.xlsx'))\n     ,replace(item().Filename,' ','_')\n   )\n    ",
														"type": "Expression"
													},
													"FilePath": {
														"value": "@pipeline().parameters.Filepath",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Ficheros sin Transformacion",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filtrar ficheros que no tienen transformacion",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filtrar ficheros que no tienen transformacion').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Depende la base de datos",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(\n     not(equals(item().Filename,'Agrupacion Motivos CADE.xlsx'))\n    ,\n     not(equals(item().Filename,'AJUSTE_UnidadesPotenciales.xlsx'))\n    )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy Fichero to BBDD_Customizing",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "PreExecute script Control Log Customizing_2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "SqlMISink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"value": "@json(item().Mapping)",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "DS_DL_Files_excel",
												"type": "DatasetReference",
												"parameters": {
													"filename": {
														"value": "@replace(item().Filename,' ','_')\n   ",
														"type": "Expression"
													},
													"WorkSheet": {
														"value": "@item().Worksheet",
														"type": "Expression"
													},
													"Filepath": "Descarga_Ficheros_Externos"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_BISTG_Parameter",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "@item().Table",
														"type": "Expression"
													},
													"BBDD": "DW_CustomizingBI"
												}
											}
										]
									},
									{
										"name": "PostExecute script Control Log Customizing",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Copy Fichero to BBDD_Customizing",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "lsMiBiStg",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "Insert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_00_FICHEROSEXTERNOS', 'Descarga Tabla @{item().Table}', 'FIN', getdate()",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "Truncate Table Customizing",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "PreExecute script Control Log Customizing_1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "lsMiBiStg_Parametrized",
											"type": "LinkedServiceReference",
											"parameters": {
												"Database": "DW_CustomizingBI"
											}
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "Truncate table @{item().Table}\n\n",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "PreExecute script Control Log Customizing_1",
										"type": "Script",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "lsMiBiStg",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "Insert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_01_FICHEROSEXTERNOS', 'Borrado Tabla @{item().Table}', 'INI', getdate();\n\n",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									},
									{
										"name": "PreExecute script Control Log Customizing_2",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Truncate Table Customizing",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "lsMiBiStg",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "Insert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_01_FICHEROSEXTERNOS', 'Borrado Tabla @{item().Table}', 'FIN', getdate();\n\nInsert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_01_FICHEROSEXTERNOS', 'Descarga Tabla @{item().Table}', 'INI', getdate();",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy Fichero to BBDD STG",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "SqlMISink",
												"preCopyScript": {
													"value": "Insert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_01_FICHEROSEXTERNOS', 'Borrado Tabla @{item().Table}', 'INI', getdate()\n\ntruncate table @{item().Table}\n\nInsert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_01_FICHEROSEXTERNOS', 'Borrado Tabla @{item().Table}', 'FIN', getdate()\n\nInsert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_01_FICHEROSEXTERNOS', 'Descarga Tabla @{item().Table}', 'INI', getdate()",
													"type": "Expression"
												},
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"value": "@json(item().Mapping)",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "DS_DL_Files_excel",
												"type": "DatasetReference",
												"parameters": {
													"filename": {
														"value": "@if(\n   equals(item().Filename,'UmbralesTiers.xlsx')\n     ,replace(replace(item().Filename,' ','_'),'.xlsx',concat('_',item().Worksheet,'.xlsx'))\n     ,replace(item().Filename,' ','_')\n   )",
														"type": "Expression"
													},
													"WorkSheet": {
														"value": "@item().Worksheet",
														"type": "Expression"
													},
													"Filepath": "Descarga_Ficheros_Externos"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_BISTG_Parameter",
												"type": "DatasetReference",
												"parameters": {
													"TableName": {
														"value": "@item().Table",
														"type": "Expression"
													},
													"BBDD": {
														"value": "@item().BBDD",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "PostExecute script Control Log",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Copy Fichero to BBDD STG",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "lsMiBiStg",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "Insert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_00_FICHEROSEXTERNOS', 'Descarga Tabla @{item().Table}', 'FIN', getdate()",
														"type": "Expression"
													}
												}
											],
											"scriptBlockExecutionTimeout": "02:00:00"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "CUADRO DATOS TIENDAS",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CARGA_Comisiones_Condicionantes",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_CUADRO DATOS TIENDAS",
						"type": "DataFlowReference"
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CARGA_PremiumDealer_por_pais",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CARGA_TiposRegistroFacturas",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_CARGA_PremiumDealer_por_pais",
						"type": "DataFlowReference",
						"datasetParameters": {
							"PremiumDealerXpais": {
								"filename": "CARGA_PremiumDealer_por_pais.xls",
								"WorkSheet": "Hoja1",
								"Filepath": {
									"value": "@pipeline().parameters.Filepath",
									"type": "Expression"
								}
							},
							"SinkPremiumDealerXpaisFF": {
								"TableName": "EXT_WS_ObjPremiumDealerPaisFF"
							},
							"SinkPremiumDealerXpais": {
								"TableName": "EXT_WS_ObjPremiumDealerPais"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CARGA_TiposTransaccionFacturas",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Ajustes_Facturas",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_CARGA_TiposTransaccionFacturas",
						"type": "DataFlowReference",
						"datasetParameters": {
							"TiposTransaccionFacturas": {
								"filename": "CARGA_TiposTransaccionFacturas.xlsx",
								"WorkSheet": "Hoja1",
								"Filepath": {
									"value": "@pipeline().parameters.Filepath",
									"type": "Expression"
								}
							},
							"SinkTiposTransaccionFacturas": {
								"TableName": "EXT_FI_TiposTransaccionFacturas"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Facturas_Tipo_Transaccion TXT",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy to DL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlMISink",
						"preCopyScript": "Insert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_00_FICHEROS_EXTERNOS', 'Borrado Tabla EXT_Tipo_Transaccion_Factura', 'INI', getdate();\n\ntruncate table EXT_Tipo_Transaccion_Factura;\n\nInsert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_00_FICHEROS_EXTERNOS', 'Borrado Tabla EXT_Tipo_Transaccion_Factura', 'FIN', getdate();\n\nInsert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_00_FICHEROS_EXTERNOS', 'Descarga Tabla EXT_Tipo_Transaccion_Factura', 'INI', getdate();",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Tipo",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Tipo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Descripcion",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Descripcion",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Csv_Ficheros_Descargas_Txt",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "Facturas_Tipo_Transaccion.txt"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BISTG",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "EXT_Tipo_Transaccion_Factura"
						}
					}
				]
			},
			{
				"name": "PostExecute Script Facturas_Tipo_Transaccion",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Facturas_Tipo_Transaccion TXT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "lsMiBiStg",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Insert into CONTROL_Log_Carga (Dw_Proceso, Dw_Descripcion, Dw_Paso, Dw_Fecha)\nselect 'DESCARGA_00_FICHEROS_EXTERNOS', 'Descarga Tabla EXT_Tipo_Transaccion_Facturas', 'FIN', getdate()"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "CARGA_TiposTransaccionFacturas to DataLake_copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy to DL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_2",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CARGA_TiposTransaccionFacturas.xlsx"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_DL",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "CARGA_TiposTransaccionFacturas.xlsx",
							"FilePath": {
								"value": "@pipeline().parameters.Filepath",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CARGA_TiposRegistroFacturas",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CARGA_TiposTransaccionFacturas",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_CARGA_TiposRegistroFacturas",
						"type": "DataFlowReference",
						"datasetParameters": {
							"TiposRegistroFacturas": {
								"filename": "CARGA_TiposRegistroFacturas.xlsx",
								"WorkSheet": "Hoja1",
								"Filepath": {
									"value": "@pipeline().parameters.Filepath",
									"type": "Expression"
								}
							},
							"SinkTiposRegistroFacturas": {
								"TableName": "EXT_BI_TiposRegistroFacturas"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CARGA_AsientosManuales to DataLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy to DL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_2",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CARGA_AsientosManuales.xlsx"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_DL",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "CARGA_AsientosManuales.xlsx",
							"FilePath": {
								"value": "@pipeline().parameters.Filepath",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CARGA_TiposRegistroFacturas to DataLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy to DL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_2",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CARGA_TiposRegistroFacturas.xlsx"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_DL",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "CARGA_TiposRegistroFacturas.xlsx",
							"FilePath": {
								"value": "@pipeline().parameters.Filepath",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CARGA_Comisiones_Condicionantes",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CARGA_TiposTransaccionFacturas",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_CARGA_Comisiones_Condicionantes",
						"type": "DataFlowReference",
						"datasetParameters": {
							"ComisionesCondicionantes": {
								"filename": "CARGA_Comisiones_Condicionantes.xlsx",
								"WorkSheet": "total",
								"Filepath": {
									"value": "@pipeline().parameters.Filepath",
									"type": "Expression"
								}
							},
							"SinkComisionesCondicionantes": {
								"TableName": "EXT_FI_Comisiones"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CARGA_Comisiones_FicheroNOcomisionables",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CARGA_TiposTransaccionFacturas",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_CARGA_Comisiones_FicheroNOcomisionables",
						"type": "DataFlowReference",
						"datasetParameters": {
							"ComisionesFicheroNOcomisionables": {
								"filename": "CARGA_Comisiones_FicheroNOcomisionables.xlsx",
								"WorkSheet": "Hoja1",
								"Filepath": {
									"value": "@pipeline().parameters.Filepath",
									"type": "Expression"
								}
							},
							"SinkComisionesFicheroNOcomisionables": {
								"TableName": "EXT_FI_NoComisionables"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Ppto_Finanzas_RT to DataLake",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_2",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "Ppto_Finanzas_RT.xls"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_DL",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "Ppto_Finanzas_RT.xls",
							"FilePath": {
								"value": "@pipeline().parameters.Filepath",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CARGA_AsientosManuales",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CARGA_Comisiones_FicheroNOcomisionables",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_CARGA_AsientosManuales",
						"type": "DataFlowReference",
						"datasetParameters": {
							"AsientosManuales": {
								"filename": "CARGA_AsientosManuales.xlsx",
								"WorkSheet": "Hoja1",
								"Filepath": {
									"value": "@pipeline().parameters.Filepath",
									"type": "Expression"
								}
							},
							"SinkAsientosManuales": {
								"TableName": "EXT_FI_AsientosManuales"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CARGA_ReclasificacionCuentas",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CARGA_PremiumDealer_por_pais",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_CARGA_ReclasificacionCuentas",
						"type": "DataFlowReference",
						"datasetParameters": {
							"ReclasificacionCuentas": {
								"filename": "CARGA_ReclasificacionCuentas.xlsx",
								"WorkSheet": "ClasifCTA",
								"Filepath": {
									"value": "@pipeline().parameters.Filepath",
									"type": "Expression"
								}
							},
							"SinkReclasificacionCuentas": {
								"TableName": "EXT_BI_ReclasifCTA"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CARGA_ReclasificacionCuentas to DataLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy to DL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_2",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CARGA_ReclasificacionCuentas.xlsx"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_DL",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "CARGA_ReclasificacionCuentas.xlsx",
							"FilePath": {
								"value": "@pipeline().parameters.Filepath",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CARGA_ExclusionesFacturas",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CUADRO DATOS TIENDAS",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_CARGA_ExclusionesFacturas",
						"type": "DataFlowReference",
						"datasetParameters": {
							"ExclusionesFacturas": {
								"filename": "CARGA_ExclusionesFacturas.xlsx",
								"WorkSheet": "Hoja1",
								"Filepath": {
									"value": "@pipeline().parameters.Filepath",
									"type": "Expression"
								}
							},
							"SinkExclusionesFacturas": {
								"TableName": "EXT_FI_ExclusionFacturas "
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "CARGA_ExclusionesFacturas to DataLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy to DL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_2",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CARGA_ExclusionesFacturas.xlsx"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Binary_Destino_Ficheros_DL",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "CARGA_ExclusionesFacturas.xlsx",
							"FilePath": {
								"value": "@pipeline().parameters.Filepath",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CARGA_Payment_method",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Retail_Appointments_Budget",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_CARGA_Payment_method",
						"type": "DataFlowReference",
						"datasetParameters": {
							"CARGAPaymentMethod": {
								"filename": "CARGA_Payment_method.xlsx",
								"WorkSheet": "Sheet1",
								"Filepath": {
									"value": "@pipeline().parameters.Filepath",
									"type": "Expression"
								}
							},
							"SinkCARGAPaymentMethod": {
								"TableName": "EXT_FI_FormaCobroAgrup"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Ajustes_Facturas",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Convertir Fichero a CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_Ajustes_Facturas",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SinkAjustesFacturas": {
								"TableName": "STG_Ajustes"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Ajustes_Facturas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "lsMiBiModeling",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": " delete F\n  from [DW_ModellingBI].[dbo].[FAC_Ajustes] F\n  inner join [DW_StagingBI].[dbo].[STG_Ajustes] S\n  on \n  s.[Account_ID] = f.Account_ID and\n  s.[Category_ID] = f.Category_ID and \n  s.[Brand_ID] = f.Brand_ID and\n  s.[Client_ID] = f.Client_ID and\n  s.[Invoice_Date] = f.Invoice_Date and\n  s.[Order_Type] = f.Order_Type and\n  s.[Entity_ID] = f.Entity_ID"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "CARGA_FAC_AJUSTES",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlMISink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Entity_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Entity_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Account_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Account_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Category_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Category_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Brand_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Brand_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Order_Type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Order_Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Client_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Client_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Invoice_Date",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Invoice_Date",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Order_Date",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Order_Date",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Units",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Units",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 18
								},
								"sink": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Local_Currency",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Local_Currency",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ID_DivisaEuro",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID_DivisaEuro",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Amount_Euro",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 18
								},
								"sink": {
									"name": "Amount_Euro",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "Reg_Type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Reg_Type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DWH_DATE_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DWH_DATE_UPDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_BISTG",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "STG_Ajustes"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BIModelling",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "FAC_Ajustes",
							"SchemaName": "dbo"
						}
					}
				]
			},
			{
				"name": "Retail_Appointments_Budget",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CARGA_AsientosManuales",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_Descarga_Ficheros_Externos_01_RETAIL_Appointments_Budget",
						"type": "DataFlowReference",
						"datasetParameters": {
							"AppointmentsBudget": {
								"filename": "RETAIL_Appointments_Budget.xlsx",
								"WorkSheet": "RETAIL_Budget Appts",
								"Filepath": {
									"value": "@pipeline().parameters.Filepath",
									"type": "Expression"
								}
							},
							"SinkAppointmentsBudget": {
								"TableName": "EXT_MKT_Appointments_Objective"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "irmg-etl-prod-weu-01",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Filtrar ficheros que no tienen transformacion",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Copy to DL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkpSourceFiles').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Transformacion,'No')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Convertir Fichero a CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy to DL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_DL_Files_excel",
						"type": "DatasetReference",
						"parameters": {
							"filename": "Ajustes_Facturas.xlsx",
							"WorkSheet": "Ajustes",
							"Filepath": {
								"value": "@pipeline().parameters.Filepath",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DL_Files_csv_Ajustes_Facturas",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"Filepath": {
				"type": "string",
				"defaultValue": "Descarga_Ficheros_Externos"
			}
		},
		"variables": {
			"tablas": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DESCARGAS"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-30T07:42:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}